.container {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 10px;
  left: 200px;
  background-color: #ffffff;
  color: black;
  border-radius: 20px;
  width: 70vw;
  /* height: 95vh; */
}

.form-box {
  padding: 20px;
  margin: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
}

.submit-button-style {
  padding: 10px;
  border-radius: 8px;
  background: linear-gradient(to right, rgb(226, 51, 107), rgb(252, 172, 70));
  margin: 1rem;
  text-align: center;
  height: 8vh;
  width: 20vw;
  position: relative;
  top: 200px;
  left: 53px;
}


.post-file-input{
    padding: 20px;
    border: 1px solid #8080802e;
    border-radius: 10px;
}